.header-cont {
    height: 4rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-cont {
    height: 5rem;
    width: 100vw;
    /* background-color: #bbb; */
    display: flex;
    margin: 0px 25px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.right-cont {
    height: 5rem;
    width: 100vw;
    /* background-color: #bbb; */
    display: flex;
    justify-content: right;
    margin: 0px 25px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.tele-cont {
    height: 1.7rem;
    width: 9rem;
    margin: 15px 5px 0 0;
    display: flex;
    border: 1px solid rgb(116, 107, 107);
    border-radius: 8px;
    justify-self: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
}
.tele-img{
    height: 15px;
    margin-right: 8px;

}
.tele-number{
    font-weight:500;
    margin-right: 15px;
    color: rgb(16, 16, 143);
}
.right-cont img {
    margin-left: 20px;
    /* width: 5px; */
}
